<body class = backgroundyellow>
  <%= image_tag "eyeqtablewhite.png", class:"logowhite center" %>
  <h1 class = statusdesign>
    Thanks for your visit<br>
    Your bill will be brought to you shortly.
  </h1>
</body>
