.dashboard-overview-container {
  display: flex;
  justify-content: space-evenly;
}
.overview-body {
  height: 800px;
  margin: 0 auto;
  justify-content: center;
  width: 90%;
  display: block;
  margin-top: 15px;
}

.table-overview-plan {
  background-color: white;
  height: 100%;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  position: relative;
  h1 {
    position: absolute;
    left: 45px;
    top: 45px;
  }
  img {
    width: 700px;
  }
}

.active-orders-column {
  height: 100%;
  width: 50%;
  margin: 2px;
  border-left: 1px solid #f5f5f5;
}

.active-orders-card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  padding: 25px;
  margin-top: 20px;
}

.active-orders-items {
  font-size: 10px;
}
