.dashboard-show-container {
  width: 90%;
  margin: 0 auto;
}
.dash-item-list{
  li {
    margin: 7px;
      .far {
        color: #D9A321;
      }
  }
  ul {
    list-style: none;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
