.dashboard-show-container {
  display: flex;
  justify-content: space-evenly;
}
.inner-show-container {
  width: 80%;
  margin: 0 auto;
  h3 {
    margin-top: 20px;
  }
}
.dash-item-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  li{
    margin: 0px;
      .far {
        color: #D9A321;
      }
  }
  ul {
    list-style: none;
  }
}

.dash-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  width: 270px;
  height: 320px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  border: none;
  border-radius: 10px;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
  }
}

.dash-card img {

  height: 130px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-description-format{
  padding: 10px;
  text-align: left;
}

.item-buttons {
  padding: 0px;
  margin: 0px;
}

.item-name-price {
  padding: 0px;
  justify-content: space-between;
  padding: 10px;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

.update-restaurant-background {
  background-color: #fff7e2;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
// .form-group {
// }

.edit-item-body {
  width: 90%;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
}

.edit-item {
  background-color: #fff7e2;
  width: 100%;
  border-radius: 5px;
  padding: 48px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
