.categories-index-container {
  display: flex;
  justify-content: center;
}

.category-list {
  padding: 0px;
}


.category-list-item {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.category-card-header {
  font-size: 20px;
}

img {
  height: 50px;
  width: 100px;
}
