h1 {
  margin: 0;
}
.top-card {
  background-color: #FED060;
  display: flex;
}
.item-index-card {
  background-color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.item-card {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 32px;
  height: 140px;
  margin: 5px 7px;
  display: flex;
    .item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-grow: 1;
    }
}
