h1 {
  margin: 0;
}
.top-card {
  background-color: #FED060;
  color: white;
  height: 190px;
}
.top-card-checkout{
  background-color: white;
  color: white;
  height: 60px;
}
.checkout-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
    h1 {
      color: #787878;
    }
}
.arrow-left {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
  color: white;
}
.arrow-left-order {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 10px;
  color: #FED060 ;
}

.back-to-cat {
  display: flex;
  margin-right: 100px;
    h1 {
      margin-right: 20px;
      margin-left: 10px;
    }
}
.backtocat {
  display: flex;
    h1 {
      margin-right: 20px;
      margin-left: 10px;
    }
}
.yellow-background {
  background-color: #FED060;
}
.cat-img-size img{
  height: 130px;
  width: 130px;
  object-fit: contain;
  display: block;
  margin-left: 140px;
  margin-right: auto;
}
.bottom-card {
  background-color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.item-card {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.11);
  border-radius: 32px;
  height: 140px;
  margin: 5px 7px;
  display: flex;
    .item-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-grow: 1;
    }
    img {
      height: 110px;
      width: 110px;
      object-fit: contain;
      margin-top: 15px;
    }
}
.item-card-link {
  &:hover {
  text-decoration: none;
  }
}
.item-info {
  p {
    font-size: 20px;
    font-weight: bolder;
    color: black;
  }
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FED060;
  font-size: 20px;;
}
.quant-buttons {
  display: flex;
  margin-right: 20px;
  button {
    border: none;
    background-color: white;
  }

  img {
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 0px;
  }

  #quantity {
    margin: 3px 10px 0px 10px;
    color: black;
    font-weight: bolder;
  }
}

.blank-card {
  width: 100%;
  height: 85px;
  background-color: white;
}
