<body class = backgroundyellow>
  <%= image_tag "eyeqtablewhite.png", class:"logowhite center" %>
  <h4 class = statusdesign>
    Your order will be with you shortly!
  </h4>
  <div class="w-100 fixed-bottom mb-4">
    <%= link_to restaurant_path(@current_session.restaurant) do %>
      <button class="menu-button" id="back-to-home">Back to home</button>
    <% end %>
  </div>
</body>
