<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-google"></i></i></a>
  </div>
  <div class="footer-copyright">
    Carrer de Joaquim Ruyra, 9, 11 08025 Barcelona, Spain <i class="fas fa-heart"></i> in association with Le Wagon
  </div>
</div>
