<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag("logo.svg") %>
  </a>
  <p class="nav-item">
    <%= image_tag "table.svg", class:"avatar" %>
  </p>
  <a class="nav-item">
    <%= image_tag "order.svg", class:"avatar" %>
  </a>
</div>
