<nav class="navbar navbar-light">
  <div class="nav-left">
    <%= image_tag "logo.svg" %>
    <h5>EyeQ Table</h5>
  </div>
  <div class="nav-right">
    <div class="overview-button">Table Overview</div>
    <div class="notifications"><i class="far fa-bell"></i></div>
  </div>
</nav>
