<nav class="navbar navbar-light">
  <div class="nav-left">
    <div class = "navbar-logo-dashboard"><%= image_tag "eyeqwhite_logo.png" %></div>
  </div>
  <div class="nav-right">
    <div class="overview-button">Table Overview</div>
    <div class="notifications"><i class="far fa-bell"></i></div>
  </div>
</nav>
