<nav class="navbar-side">
  <%= link_to restaurant_dashboard_path(current_restaurant) do %>
    <%= image_tag "eyeqwhite_logo.png", class:"navbar-logo-dashboard" %>
  <% end %>
  <%= link_to "Table Overview", restaurant_overview_path(current_restaurant), class:"overview-button"%>
  <div class="notifications">
    <i class="far fa-bell"></i>
  </div>
</nav>
