<%= render "shared/visitor-navbar" %>
<div>
  <img src="https://media.istockphoto.com/photos/directly-above-view-of-tapas-picture-id1224986732?b=1&k=20&m=1224986732&s=170667a&w=0&h=3LH33ccCkucCXBDrQ_ZuHoeWwmHdQIOi3VzCy-CEb8A="; class = "coverpicture">
</div>
<div class = "image_cropper avatarposition">
    <%=image_tag "laesquinica", class: "profile-pic", alt: "avatar"%>
</div>
<div class = welcometext >Welcome to La Esquinica!</div>
<div>
  <%= link_to "Menu", restaurant_categories_path(@restaurant), class: "btn btn-flat-menu justify-content-center center" %>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-10 margintop" src="https://media.istockphoto.com/photos/carousell-for-children-in-the-evening-at-the-plaza-de-mayor-in-madrid-picture-id975712216?s=612x612" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 margintop" src="https://media.istockphoto.com/photos/carousell-for-children-in-the-evening-at-the-plaza-de-mayor-in-madrid-picture-id975712216?s=612x612" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 margintop" src="https://media.istockphoto.com/photos/carousell-for-children-in-the-evening-at-the-plaza-de-mayor-in-madrid-picture-id975712216?s=612x612" alt="Third slide">
    </div>
  </div>
</div>

<div>
  <%= link_to "Request Bill", "#", class: "btn btn-flat-feedback justify-content-center center" %>
</div>


<div href="#"class = "socials">
  <div class = "d-flex socialcontent">
    <div>
      <a href="https://www.facebook.com/La-Esquinica-101672334910097/" class="fab fa-facebook-f"></a>
    </div>
    <div>
      <a href="https://www.instagram.com/laesquinica/?hl=es" class="fab fa-instagram"></a>
    </div>
    <div>
      <a href="https://www.tripadvisor.com/UserReviewEdit-g187497-d877654-La_Esquinica-Barcelona_Catalonia.html" class="leavereview">Leave Review!</a>
      <!-- <i class="fas fa-arrow-right"></i> do we need an arrow? -->
    </div>
  </div>
</div>
