<div class="d-flex">
  <div class = "image_cropper d-flex justify-content-center">
  <%=image_tag "laesquinica", class: "profile-pic", alt: "avatar-large"%>
  </div>
  <div><%= link_to "Request Bill", "#", class: "btn btn-flat-request d-flex justify-content-center" %>
  </div>
</div>

<div>
  <%= link_to "Menu", "#", class: "btn btn-flat-menu justify-content-center" %>
</div>

<div>
  <%= link_to "Feedback", "#", class: "btn btn-flat-feedback justify-content-center" %>
</div>

<div>
  <a href="#"class = "btn btn-flat-social">
  <i class="fab fa-facebook-f"></i>
  </a>
</div>
