.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.image_cropper {
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -50px;
}

.profile-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: white 1px solid;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.coverpicture {
  height: 130px;
  width: 100%;
  border-bottom-right-radius: 34px;
  border-bottom-left-radius: 34px;
}

.avatarposition {
  align-items: center;
}
