// .btn-flat-feedback {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 20px;
//   background: #FED060;
//   transition: 0.3s ease;
//   margin-top: 110px;
//   text-decoration: bolder;
//   width: 160px;
//   height: 40px;
// }

.btn-flat-menu {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #FED060;
  transition: 0.3s ease;
  margin-top: 20px;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-flat-request {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #A8E8E8;
  transition: 0.3s ease;
  margin-top: 10px;
  text-decoration: bolder;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.order-link {
  margin: 0 auto;
  position: fixed;
  bottom: 30px;
  right: 55px;

  .order-button {
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 32px;
    background: #FED060;
    transition: 0.3s ease;
    text-decoration: bolder;
    width: 250px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.dash-cat-buttons {
  text-align: center;
  margin-top: 20px;
  height: 60px;
}

.back-button {
  background-color: #FED060;
  margin-bottom: -25px;
  height: 70px;
}

.restaurant-details {
  background-color: #FED060;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: none;
  border-radius: 5px;
  text-align: left;
}

.formcontent {
  margin-top: 10px;
  width: 90%;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.edit-form-background {
  background-color: white;
  border-radius: 5px;
}


.menu-button {
    color: white;
    padding: 8px 24px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 32px;
    background: #A8E8E8;
    transition: 0.3s ease;
    text-decoration: bolder;
    width: 250px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

#bill-button {
  background-color: #FB5E5E;

.btn-info {
  background-color: #FED060;
  border-color: #FED060;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    color: black;
    background-color: #ffc42e;
    border-color: #ffc42e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)}
  width: 200px;
}

.btn-warning {
  width: 200px;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  color: black;
  right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &:hover {
    color: black;
    background-color: #eaeaea;
    border-color: #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)}
}

.btn-change-item {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FED060;
    &:hover {
    color: black;
    background-color: #ffc83d;
    border-color: #ffc83d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)}
  width: 50%;
}

.btn-del-item {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
    &:hover {
    color: black;
    background-color: #eaeaea;
    border-color: #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)}
  width: 50%;
}

.btn-create-category {
  background-color: #FED060;
}

.btn-update {
  background-color: #FED060;
  border-color: #FED060;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &:hover {
    color: black;
    background-color: #ffc83d;
    border-color: #ffc83d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)}
}

.btn-flat-ok {
  color: #FED060;
  padding: 8px 24px;
  border-radius: 20px;
  background: white;
  transition: 0.3s ease;
  margin-top: 70px;
  height: 70px;
  width: 220px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 }
}

#back-to-home {
  background-color: #FB5E5E;
}
