.btn-flat-request {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #FED060;
  transition: 0.3s ease;
  margin-top: 110px;
  text-decoration: bolder;
  width: 160px;
  height: 40px;
}

.btn-flat-menu {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #FB5E5E;
  transition: 0.3s ease;
  margin-top: 20px;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.btn-flat-feedback {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #C1D649;
  transition: 0.3s ease;
  margin-top: 10px;
  text-decoration: bolder;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
}

.btn-flat-social {
  color: white;
  // padding: 8px 24px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background: #A8E8E8;
  margin-top: 12px;
  text-decoration: bolder;
  width: 300px;
  height: 120px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
