// .btn-flat-feedback {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 20px;
//   background: #FED060;
//   transition: 0.3s ease;
//   margin-top: 110px;
//   text-decoration: bolder;
//   width: 160px;
//   height: 40px;
// }

.btn-flat-menu {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #FED060;
  transition: 0.3s ease;
  margin-top: 20px;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-flat-request {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #A8E8E8;
  transition: 0.3s ease;
  margin-top: 10px;
  text-decoration: bolder;
  height: 70px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.socials {
  color: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background: #FED060;
  text-decoration: bolder;
  width: 300px;
  height: 120px;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;

    .fa-facebook-f {
  color: white;
  font-size: 25px;
  }

  .fa-instagram {
  color: white;
  margin-left: 30px;
  font-size: 25px;
  }

  .leavereview {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.order-link {
  margin: 0 auto;
  position: fixed;
  bottom: 30px;
  right: 55px;

  .order-button {
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 32px;
    background: #FED060;
    transition: 0.3s ease;
    text-decoration: bolder;
    width: 250px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.dash-cat-buttons {
  text-align: end;
}

.back-button {
  background-color: #FED060;
  margin-bottom: -25px;
  height: 70px;
}

.restaurant-details {
  background-color: #FED060;
  margin-top: 20px;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: none;
  border-radius: 5px;
  text-align: left;
}

.formcontent {
  margin-top: 10px;
  width: 90%;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.edit-form-background {
  background-color: white;
  border-radius: 5px;
}
