.category-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.category-card-link {
  width: 100%;
  height: 100%;
  background-color: #FED060;
  margin-bottom: -30px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  text-decoration: none;
  color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
    h1 {
      padding-left: 25px;
      padding-top: 10px;
      font-weight: 600;
    }
}

.category-card {
  height: 250px;
  width: 100vw;
}

.category-cards a:nth-child(4n + 2) {
  background-color: #C1D649;
}
.category-cards a:nth-child(4n + 3) {
  background-color: #A8E8E8;
}
.category-cards a:nth-child(4n + 4) {
  background-color: #FB5E5E;
}

.category-card img {
  height: 130px;
  width: 230px;
  float: right;
  object-fit: contain;
  padding-right: 30px;
}

.dash-category-card {
  background-color: #FFF0CD;
  margin: 15px;
   h3 {
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
  }
}
