.modal-content{
  background-color: transparent !important;
  border: none !important;
  .item-card {
    height: 220px;
  }
  .item-info {
    padding-right: 9px;;
  }
}

.item-card-images{
 margin-top: 30px;
}
