.modal-content{
  background-color: transparent !important;
  border: none !important;
  .item-card {
    height: 220px;
  }
  .item-info {
    padding-right: 9px;;
  }
}

.close {
  color: #FED060;
  position: absolute;
  top: 19px;
  right: 25px;
  font-size: 28px;
  opacity: 1;
  text-shadow: none;

.item-card-images{
 margin-top: 30px;
  }
}
