.navbar-light {
  background-color: #FED060;
  padding-bottom: 20px 0px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  #table-nav-item {
    position: absolute;
    left: 153px;
    h6 {
      text-decoration: none;
      color: #db9a03;
    }
    #avatar-center {
      width: 30px;
      filter: invert(80%) sepia(17%) saturate(2138%) hue-rotate(345deg) brightness(88%) contrast(92%);
    }
  }
}
.nav-item .avatar {
  filter: invert(80%) sepia(17%) saturate(2138%) hue-rotate(345deg) brightness(88%) contrast(92%);
  width: 30px;
}

.navbar-side {
  height: 200;
  min-width: 90px;
  background-color: #FED060;
}
.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 12px;
}
.navbar-logo-dashboard {
  width: 40px;
  margin: 10px;
  filter: invert(80%) sepia(17%) saturate(2138%) hue-rotate(345deg) brightness(88%) contrast(92%);
  &:hover {
    cursor: pointer;
  }
}
