.navbar-light {
  background-color: #FED060;
  padding-bottom: 20px 0px;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }
}
.nav-item .avatar {
  filter: invert(80%) sepia(17%) saturate(2138%) hue-rotate(345deg) brightness(88%) contrast(92%);
  width: 30px;
}
